<div class="retiro">

  <div>
    <h4 class="metodo">Escoja un método de retiro</h4>
  </div>

  <div class="info">
    <div class=" contenedor">
      <select class="form-select secundario" aria-label="Default select example ">
        <option selected class="secundario">Seleccione metodo de retiro</option>
        <option value="1" (click)="delivery()" >Delivery</option>
        <option value="2" (click)="pickup()">Pickup</option>
      </select>
    </div>

    <div id="delivery" class="row" [ngStyle]="{'display': !flag ? 'block':'none'}">

      <div class="formulario">
        <div class="mb-3 col-lg-6 dialogo">
          <label for="formGroupExampleInput" class="form-label">Nombre: </label>
          <input type="text" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="mb-3 col-lg-6 dialogo">
          <label for="formGroupExampleInput2" class="form-label">Dirección: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="1234 Main St">
        </div>
        <div class="mb-3 col-lg-6 dialogo">
          <label for="formGroupExampleInput2" class="form-label">Teléfono: </label>
          <input type="text" class="form-control" id="formGroupExampleInput3" >
        </div>
      </div>


    </div>

    <div id="pickup" [ngStyle]="{'display': flag ? 'block':'none'}">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Pickup</h5>
            <h6 class="card-subtitle mb-2 text-muted">Sedes disponibles</h6>
            <p class="card-text">San Bernardino</p>
            <p class="card-text">Terrazas del Ávila</p>
            <p class="card-text">Chacao</p>

          </div>
        </div>

    </div>

  </div>


  <div class="bton">
    <button type="button" class="btn-primary pagar" routerLink="/metodoPago">Pagar</button>
  </div>

  </div>

