@font-face {
  font-family: 'wcas';
  src: url("../../../assets/fonts/new_dimension/New Dimension.otf");
}

@font-face {
  font-family: 'wca';
  src: url("../../../assets/fonts/petrichor_sublimey/Petrichor Sublimey.otf");
}

.retiro {
  background-color: #F8EFEF;
  width: 100%;
  height: 100%;
  position: fixed;
}

.metodo{
  display: flex;
  justify-content: center;
  font-family: wcas;
  font-size: 2.8em;
  padding: 5%;
  width: 100%;
}

.secundario{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: wca;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFFFFF;
  border-radius: 15px;
  color: #9A8A8A;
  font-size: 1.5em;
  border: transparent;
  box-shadow: 1px 2px gray;
  font-weight: bold;
}


.contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.mere{
  display: flex;
  justify-content: center;
  width: 100%;
}
