<div class="producto">

  <div class="deseo">

    <h4 class="titulo">Lista de deseo</h4>

    <div class="fotos">

      <figure class="info">

        <div class="imagen">
          <h2 class="nombre">Nombre del producto</h2>
          <img src="assets/images/candy1.jpg" class="img" routerLink="/producto">
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" class="flexCheckIndeterminate">
        </div>

        <div class="datos">

          <h6 class="cantidades">Cantidad de bolsas:</h6>
          <h6 class="cantidades">Cantidad de gramos:</h6>
          <h5 class="price">Precio:</h5>
        </div>

      </figure>

    <figure class="info">

      <div class="imagen">
        <h2 class="nombre">Nombre del producto</h2>
        <img src="assets/images/candy1.jpg" class="img" routerLink="/producto">
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" class="flexCheckIndeterminate">
      </div>

      <div class="datos">

        <h6 class="cantidades">Cantidad de bolsas:</h6>
        <h6 class="cantidades">Cantidad de gramos:</h6>
        <h5 class="price">Precio:</h5>
      </div>

    </figure>

      <figure class="info">

        <div class="imagen">
          <h2 class="nombre">Nombre del producto</h2>
          <img src="assets/images/candy1.jpg" class="img" routerLink="/producto">
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" class="flexCheckIndeterminate">
        </div>

        <div class="datos">

          <h6 class="cantidades">Cantidad de bolsas:</h6>
          <h6 class="cantidades">Cantidad de gramos:</h6>
          <h5 class="price">Precio:</h5>
        </div>

      </figure>

    <div class="botones">
      <div class="bton">
        <button type="button" class="btn btn-primary secundario" (click)="openModal(template)">ELiminar de la lista de deseo</button>
        <button type="button" class= "btn tn-primary agregar">Agregar al carrito</button>
      </div>
    </div>

  </div>

  </div>

  <div class="division">
    <img class="div" src="assets/images/division.jpg">
  </div>

  <div class="bolsa">

    <h4 class="titulo">Carrito</h4>
    <div class="fotos">
      <figure class="info">

        <div class="imagen">
          <h2 class="nombre">Nombre del producto</h2>
          <img src="assets/images/candy1.jpg" class="img" routerLink="/producto">
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" class="flexCheckIndeterminate">
        </div>

        <div class="datos">

          <h6 class="cantidades">Cantidad de bolsas:</h6>
          <h6 class="cantidades">Cantidad de gramos:</h6>
          <h5 class="price">Precio:</h5>
        </div>

      </figure>

      <figure class="info">

        <div class="imagen">
          <h2 class="nombre">Nombre del producto</h2>
          <img src="assets/images/candy1.jpg" class="img" routerLink="/producto">
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" class="flexCheckIndeterminate">
        </div>

        <div class="datos">

          <h6 class="cantidades">Cantidad de bolsas:</h6>
          <h6 class="cantidades">Cantidad de gramos:</h6>
          <h5 class="price">Precio:</h5>
        </div>

      </figure>

      <figure class="info">

        <div class="imagen">
          <h2 class="nombre">Nombre del producto</h2>
          <img src="assets/images/candy1.jpg" class="img" routerLink="/producto">
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" class="flexCheckIndeterminate">
        </div>

        <div class="datos">

          <h6 class="cantidades">Cantidad de bolsas:</h6>
          <h6 class="cantidades">Cantidad de gramos:</h6>
          <h5 class="price">Precio:</h5>
        </div>

      </figure>

    </div>

    <div class="botones">
      <div class="bton">
        <button type="button" class="btn btn-primary secundario" (click)="openModal(template)">ELiminar del carrito</button>
        <button type="button" class= "btn btn-primary agregar" routerLink="/metodoRetiro">Proceder con el pago</button>
      </div>
    </div>

  </div>
</div>



<ng-template #template>
  <div class="modal-body text-center confirmacion">
    <p>¿Desea eliminar el producto?</p>
    <div class="btones">
      <button type="button" class="btn btn-default activo" (click)="confirm()" >Sí</button>
      <button type="button" class="btn btn-default inactivo" (click)="decline()" >No</button>
    </div>

  </div>
</ng-template>


