<div class="fondo">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class=" titulo col-12 col-md-6 col-lg-4">
        <span class="material-icons icon">library_books</span>

        <div class="carta">
          <p><span class="info">Nuestra historia</span></p>
          <p class="contenido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor
            incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

      </div>

      <div class="titulo col-12 col-md-6 col-lg-4">
        <span class="material-icons icon">flag</span>

        <div class="carta">
          <p><span class="info">Misión</span></p>
          <p class="contenido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor
            incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

      </div>

      <div class="titulo col-12 col-md-6 col-lg-4">
        <span class="material-icons icon">search</span>

        <div class="carta">
          <p><span class="info">Visión</span></p>
          <p class="contenido">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor
            incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

      </div>
    </div>
  </div>