<div class="fondo">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class=" titulo col-12 col-md-6 col-lg-4">
        <span class="material-icons icon">library_books</span>

        <div class="carta">
          <p><span class="info">Nuestra historia</span></p>
          <p class="contenido">Somos una compañia establecida en 2020, fundada por tres empresarios comprometidos
          con la mision de endulzar a nuestros clientes.</p>
        </div>

      </div>

      <div class="titulo col-12 col-md-6 col-lg-4">
        <span class="material-icons icon">flag</span>

        <div class="carta">
          <p><span class="info">Misión</span></p>
          <p class="contenido">Nuestra misión es inspirar e innovar con una variedad amplia y única de dulces.
          Esto nos permite acomodar los deseos y expectativas del cliente a traves de productos de alta calidad;
          desafiando y estimulando nuestra categoria de productos en el dia a dia para crear crecimiento con
          nuestros socios.</p>
        </div>

      </div>

      <div class="titulo col-12 col-md-6 col-lg-4">
        <span class="material-icons icon">search</span>

        <div class="carta">
          <p><span class="info">Visión</span></p>
          <p class="contenido">Nuestra visión es construir una compañia lider apasoniada por los dulces e impulsada
          a crecer y desarrollarse en el mercado, a través de nuestro experiencia de muchos años con metodos tradicionales 
          y con nuestra innovación con métodos modernos.</p>
        </div>

      </div>
    </div>
  </div>