<div class="factura">

  <div>
    <h4 class="titulo">Factura</h4>
  </div>

  <div class="product">

    <div class="imagen">
      <figure>
        <img class="im" src="../../../assets/images/candy1.jpg">
      </figure>
      <p class="name">Nombre</p>
    </div>

    <div class="gramaje">
      <p class="secundario">X gr</p>
    </div>

    <div class="precio">
      <p class="secundario">($$)</p>
    </div>


  </div>

  <div class="product">

    <div class="imagen">
      <figure>
        <img class="im" src="../../../assets/images/candy1.jpg">
      </figure>
      <p class="name">Nombre</p>
    </div>

    <div class="gramaje">
      <p class="secundario">X gr</p>
    </div>

    <div class="precio">
      <p class="secundario">($$)</p>
    </div>


  </div>

  <div class="pago">
    <div class="total">
      <p class="tot">Total</p>
      <p class="tot">($$$)</p>
    </div>
  </div>


  <div class="but">
    <button type="button" class="btn-primary confirmar" routerLink="/metodoPago">Confirmar</button>
  </div>



</div>
