@font-face {
  font-family: 'one';
  src: url("../../../assets/fonts/bawnee/bawnee.otf");
}

@font-face {
  font-family: 'ones';
  src: url("../../../assets/fonts/boogie_worth/Boogie worth three.ttf");
}

.pedidos{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color:#F8EFEF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}

.info figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
  padding-left: 20%;
  margin-top: 5%;
}

.lista{
  display: flex;
  flex-direction: column;
  flex: 1.5;
  margin-top: 10%;
  padding-right: 5%;
  height: 100%;
}

.bton{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.info p{
  color: brown;
  font-size: 2.6em;
  font-family: ones;
}

.status{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#F8EFEF;

}
.progreso{
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progreso p{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.barras{
  margin-top: 12%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.secundario{
  cursor: pointer;
  background-color: #FEE8E8;
  border-radius: 15px;
  color: #FA9AA8;
  font-size: 0.8em;
  border: transparent;
  box-shadow: 1px 2px gray;
  font-weight: bold;
}

.boton{
  display: flex;
  width: 100%;
  margin-left: 7%;
}

#agregar{
  display: flex;
  justify-content: center;
  font-family: one;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFFFFF;
  border-radius: 15px;
  color: #9A8A8A;
  font-size: 0.9em;
  border: transparent;
  box-shadow: 1px 2px gray;
  font-weight: bold;
}

#volver{
  padding: 0.5%;
}
