<div class="perfil">

  <div class="datos" >
    <figure class="fig">
      <img src="assets/images/candy2.jpg" class="img" alt="foto de perfil">
    </figure>

    <form class="info">

      <div class="row">
        <div class="col-md-12">
          <label>Nombre</label>
          <input #nombre id="nombre" type="text" class="form-control" value={{user.displayName}}>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Dirección: </label>
        <input #direccion type="text" class="form-control" value={{usuario.direccion}} id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="bton">
        <button (click)="updateUser(nombre.value, direccion.value)" type="button" class="btn-primary" id="actualizar">Actualizar</button>
      </div>

    </form>
  </div>

  <div class="pedidos">
    <div class="fig">
      <figure>
        <img src="assets/images/pedidos.png">
        <p>Status del pedido</p>
      </figure>
    </div>

    <div class="table-responsive tabla">
    <table class="table table-bordered table-dark ">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estatus</th>
        <th scope="col">Cantidad</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row" class="fila" routerLink="/StatusPedidos">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>1g</td>
      </tr>
      <tr>
        <th scope="row" class="fila" routerLink="/StatusPedidos">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>2g</td>
      </tr>
      <tr>
        <th scope="row" class="fila" routerLink="/StatusPedidos">3</th>
        <td >Larry the Bird</td>
        <td>Thornton</td>
        <td>@twitter</td>
        <td>2g</td>
      </tr>
      </tbody>
    </table>
    </div>

  </div>

</div>
