@font-face {
  font-family: 'one';
  src: url("../../../assets/fonts/bawnee/bawnee.otf");
}

@font-face {
  font-family: 'ones';
  src: url("../../../assets/fonts/boogie_worth/Boogie worth three.ttf");
}

.perfil{
  height: 100vh;
  width: 100%;
  background-color:#F8EFEF;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.datos{
  padding-top: 3%;
  width: 50%;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-top: 3%;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.fig{
  display: flex;
  justify-content: center;
}

.info{
  padding-left: 10%;
  width: 90%;
  padding-bottom: 10%;
}

#actualizar{
  display: flex;
  justify-content: center;
  font-family: one;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFFFFF;
  border-radius: 15px;
  color: #9A8A8A;
  font-size: 1.1em;
  border: transparent;
  box-shadow: 1px 2px gray;
  font-weight: bold;
}

.bton{
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.pedidos{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pedidos img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pedidos p{
  color: brown;
  font-size: 2.3em;
  font-family: ones;
}

.pedidos figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50%;
}

.tabla{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 10%;
}

.fila{
  cursor: pointer;
}


