<div class="inventario">

  <div>
    <h4 class="titulo">Inventario</h4>
  </div>

  <div class="product">

    <div class="imagen">
      <figure>
        <img class="im" src="../../../../assets/images/candy1.jpg">
      </figure>
      <p class="name">Nombre</p>
    </div>

    <div class="gramaje">
      <p class="secundario">X gr</p>
    </div>

    <div class="precio">
      <p class="secundario">($$)</p>
      <span class="material-icons icono">edit</span>
    </div>

    <div class="cantidad">
      <p class="secundario">($$)</p>
      <span class="material-icons">edit</span>
    </div>


  </div>

  <div class="product">

    <div class="imagen">
      <figure>
        <img class="im" src="../../../../assets/images/candy1.jpg">
      </figure>
      <p class="name">Nombre</p>
    </div>

    <div class="gramaje">
      <p class="secundario">X gr</p>
    </div>

    <div class="precio">
      <p class="secundario">($$)</p>
      <span class="material-icons icono">edit</span>
    </div>

    <div class="cantidad">
      <p class="secundario">($$)</p>
      <span class="material-icons icono">edit</span>
    </div>


  </div>


  <div class="but">
    <button type="button" class="btn-primary confirmar">Actualizar</button>
    <button type="button" class="btn-primary confirmar" routerLink="/agregarProducto">Agregar</button>
  </div>


</div>
