<div class="productos">

  <div class="imagenes row" >

    <figure class="fig col-4">
      <img src="../../../assets/images/candy1.jpg" class="img" alt="..." routerLink="/producto">
      <p class="info" routerLink="/producto"><span class="nombre">Donas glaseadas</span> <span class="precio">($1)</span></p>
    </figure>
    <figure class="fig col-4">
      <img src="../../../assets/images/candy1.jpg" class="img" alt="..." routerLink="/producto">
      <p class="info" routerLink="/producto"><span class="nombre">Donas glaseadas</span> <span class="precio"> ($1)</span></p>
    </figure>
    <figure class="fig col-4">
      <img src="../../../assets/images/candy1.jpg" class="img" alt="..." routerLink="/producto">
      <p class="info" routerLink="/producto"><span class="nombre">Donas glaseadas</span> <span class="precio"> ($1)</span></p>
    </figure>
    <figure class="fig col-4">
      <img src="../../../assets/images/candy1.jpg" class="img" alt="..." routerLink="/producto">
      <p class="info" routerLink="/producto"><span class="nombre">Donas glaseadas</span> <span class="precio"> ($1)</span></p>
    </figure>
    <figure class="fig col-4">
      <img src="../../../assets/images/candy1.jpg" class="img" alt="..." routerLink="/producto">
      <p class="info" routerLink="/producto"><span class="nombre">Donas glaseadas</span> <span class="precio"> ($1)</span></p>
    </figure>

  </div>

</div>
