<div class="pago">

  <div>
    <h4 class="titulo">Metodo de pago</h4>
  </div>

  <div class="inf">

    <div class="metodos">
      <p class="tipo" routerLinkActive="activo">Dolares en efectivo</p>
      <p class="tipo" routerLinkActive="activo">Zelle</p>
      <p class="tipo" routerLinkActive="activo">Pago móvil</p>
      <p class="tipo" routerLinkActive="activo">Paypal</p>
    </div>

    <!--
    <div id="movil">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title titles">Pago Movil</h5>
          <p class="card-text principal">Nombre:</p>
          <p class="card-text">Jhon Doe</p>
          <p class="card-text principal">Banco:</p>
          <p class="card-text">Venezolano de Crédito</p>
          <p class="card-text principal">Cédula de identidad:</p>
          <p class="card-text">V -  27.255.468</p>
          <p class="card-text principal">Número de celular:</p>
          <p class="card-text">+58 -  414-2489784</p>

        </div>
      </div>

    </div>
 -->
    <!--
       <div id="zelle">

         <div class="card" style="width: 18rem;">
           <div class="card-body">
             <h5 class="card-title titles">Zelle</h5>
             <p class="card-text principal">Nombre:</p>
             <p class="card-text">Jhon Doe</p>
             <p class="card-text principal">Banco:</p>
             <p class="card-text">Bank of America</p>
             <p class="card-text principal">Cédula de identidad:</p>
             <p class="card-text">V -  27.255.468</p>
             <p class="card-text principal">Número de celular:</p>
             <p class="card-text">+58 -  414-2489784</p>

           </div>
         </div>

       </div>
       -->

    <div id="paypal">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title titles">Paypal</h5>
          <p class="card-text principal">Nombre:</p>
          <p class="card-text">{{user.displayName}}</p>
          <p class="card-text principal">Correo:</p>
          <p class="card-text">{{user.email}}</p>


        </div>
      </div>

    </div>

  </div>



  <div class="but">
    <button type="button" class="btn-primary pagar" routerLink="/inicio">Confirmar</button>
  </div>

</div>
