<nav  class="navbar fondo">

  <div class="sections">

    <div class="title">
      <a id= "titulo" class="navbar-brand" >Sweet Treat</a>

      <div class="links">
        <ul class="nav nav-pills nav-justified nav2">
          <li class="nav-item">
            <a class="nav-link active" href="#">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contáctanos</a>
          </li>
        </ul>
      </div>

      <div class="icon">
        <button type="button" class="btn btn-primary bton" data-toggle="modal" data-target="#staticBackdrop"> <span class="material-icons login" >login</span> </button>

      </div>
    </div>

  </div>

</nav>

<!-- Modal -->
<div class="desplegable">
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Sweet Treat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-login></app-login>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>




