<nav  class="navbar fondo">

  <div class="sections">

    <div class="title">
      <a id= "titulo" class="navbar-brand"  routerLink="/inicio">Sweet Treat</a>

      <div class="links">
        <ul class="nav nav-pills nav-justified nav2">
          <li class="nav-item"  routerLinkActive="activo">
            <a class="nav-link " routerLink="/tienda"  >Tienda</a>
          </li>
          <li class="nav-item" routerLinkActive="activo">
            <a  class="nav-link" routerLink="/nosotros" >Nosotros</a>
          </li>
          <li class="nav-item" routerLinkActive="activo">
            <a class="nav-link" routerLink="/nosotros" >Contáctanos</a>
          </li>
        </ul>
      </div>

      <div class="icon">
        <button class="bolsa"><span class="material-icons">shopping_bag</span></button>
        <button type="button" class="btn btn-primary bton" data-toggle="modal" data-target="#staticBackdrop"> <span class="material-icons login" >login</span> </button>

      </div>
    </div>

  </div>

</nav>

<!-- Modal -->

  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Sweet Treat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [ngStyle]="{'display': !flag && help ? 'block':'none'}">
          <app-login></app-login>
        </div>
        <div class="modal-body" [ngStyle]="{'display': flag && help ? 'block':'none'}">
          <app-recuperar></app-recuperar>
        </div>

        <div class="modal-body" [ngStyle]="{'display': !help? 'block':'none'}">
          <app-registrar></app-registrar>
        </div>

        <div class="modal-footer">
          <button class= "btn-primary" id="recuperar" (click)= "recuperar()" > {{!flag? '¿Olvidaste tu contraseña?': 'Login'}} </button>
          <p (click)= "recuperar()" > {{!flag? '¿No tienes cuenta?': ''}}</p>
          <a id="registrar" (click)= "registrar()">{{!flag? 'Registrate': ''}}</a>
        </div>
      </div>
    </div>
  </div>





