@font-face {
  font-family: 'wonka';
  src: url("../../../assets/fonts/willy-wonka/WillyWonka.ttf");
}
*{
  margin: 0;
  padding: 0;
}
.title{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3em;

}

.icon{
  display: flex;
  justify-content: center;
  font-size: 10px;
  width: 50%;
  flex: 0.3;
}

.icon_user{
  display: flex;
  font-size: 10px;
}

.icon p{
  display: flex;
  justify-content: flex-start;
  flex: 3;
  color: black;
  font-size: 2em;
  padding-left: 5px;
  padding-top: 30px;
}

#user{
  display: flex;
  justify-content: center;
  flex: 3;
  color: #ECEFF1;
  font-size: 20px;
  flex: 1;
}

.login{
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 2em;
  cursor: pointer;
}

.fondo{
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: #9A8A8A;
  width: 100%;
}

#titulo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
  flex: 0.5;
  color: darkslategray;
  cursor: pointer;
  padding-left: 40px;
  font-family: wonka;
}


.icon_user{
  display: flex;
  justify-content: space-between;
  width: 20%;
}

#logout{
  display: flex;
  justify-content: space-between;
  color: #ECEFF1;
  font-size: 3em;
  padding-top: 5px;
  cursor: pointer;
  flex: 0.2;
}

.nav-link{
  cursor: pointer;
}

.sections{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.links{
  width: 50%;
  display: flex;
  align-items: center;
  flex: 0.8;
  justify-content: center;
}
.nav-item{
  margin-left: 10px;
}

a{
  color: whitesmoke;
}

.nav2{
  display: flex;
  justify-content: center;
  width: 100%;
}

.bton{
  margin-left: 10px;
  width: 100%;
  height: 50%;
}

.btn{
  background: transparent;
  border: transparent;
}

.nav-pills .nav-link.active{
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-weight: bolder;
}

a.nav-link{
  font-size: 20px;
}

.nav-pills .nav-link{
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

