<div class="productos">

  <div class="imagenes row" >
    <div class="col-4">
      <figure class="fig seleccion">
        <img src="../../../assets/images/candy1.jpg" class="img" alt="..." >
        <span class="material-icons borrar">remove_circle</span>
      </figure>
      <p class="info"><span class="nombre">Donas glaseadas</span> <span class="precio">($1)</span></p>
    </div>

    <div class="col-4">
      <figure class="fig seleccion">
        <img src="../../../assets/images/candy1.jpg" class="img" alt="..." >
        <span class="material-icons borrar">remove_circle</span>
      </figure>
      <p class="info"><span class="nombre">Donas glaseadas</span> <span class="precio">($1)</span></p>
    </div>

    <div class="col-4">
      <figure class="fig seleccion">
        <img src="../../../assets/images/candy1.jpg" class="img" alt="..." >
        <span class="material-icons borrar">remove_circle</span>
      </figure>
      <p class="info"><span class="nombre">Donas glaseadas</span> <span class="precio">($1)</span></p>
    </div>

    <div class="col-4">
      <figure class="fig seleccion">
        <img src="../../../assets/images/candy1.jpg" class="img" alt="..." >
        <span class="material-icons borrar">remove_circle</span>
      </figure>
      <p class="info"><span class="nombre">Donas glaseadas</span> <span class="precio">($1)</span></p>
    </div>

    <div class="col-4">
      <figure class="fig seleccion">
        <img src="../../../assets/images/candy1.jpg" class="img" alt="..." >
        <span class="material-icons borrar">remove_circle</span>
      </figure>
      <p class="info"><span class="nombre">Donas glaseadas</span> <span class="precio">($1)</span></p>
    </div>

  </div>

  <div class="bton">
    <button type="button" class="btn btn-primary secundario" routerLink="/tienda"> Añadir producto </button>
    <button type="button" class= "btn tn-primary" id="agregar" routerLink="/bolsa">Agregar al carrito</button>
  </div>

</div>
