.fig{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-top: 3%;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.productos{
  background-color: #F8EFEF;
  width: 100%;
  height: 100vh;
}

.imagenes{
  width: 100%;
}

.info{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nombre{
  font-weight: bold;
  font-size: 1.2em;
}

.precio{
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.seleccion{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.borrar{
  color: darkred;
}

#agregar{
  display: flex;
  justify-content: center;
  font-family: one;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #9A8A8A;
  font-size: 0.9em;
  border: transparent;
  box-shadow: 1px 2px gray;
  font-weight: bold;
}

.secundario{
  cursor: pointer;
  background-color: #E9D9D9;
  border-radius: 10px;
  color: #FA9AA8;
  font-size: 0.8em;
  border: transparent;
  box-shadow: 1px 2px gray;
}

.bton{
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

