@font-face {
  font-family: 'ones';
  src: url("../../../assets/fonts/new_dimension/New Dimension.otf");
}

@font-face {
  font-family: 'one';
  src: url("../../../assets/fonts/bawnee/bawnee.otf");
}

.producto{
  height: 100vh;
  width: 100%;
  display: flex;
  background-color:#F8EFEF;
}

.foto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.principal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  padding: 20px;
  margin-left: 15%;
}

.fotos{
  display: flex;
  justify-content: center;
}

.secundaria{
  display: flex;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  padding: 10px;
  cursor: pointer;

}

.info{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.datos{
  display: flex;
  flex-direction: column;
}

.datos h5{
  font-weight: bold;
  padding: 5% 5% 0% 5%;
}

.descripcion{
  font-weight: lighter;
  text-align: justify;
  padding: 5% 10% 0% 5%;
}

.precio{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;

}

.price{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: one;
  font-size: 1.5em;
}

.monto{
  display: flex;
  justify-content: center;
  padding: 3%;
  font-size: 1.6em;
}

.bton{
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

#agregar{
  display: flex;
  justify-content: center;
  font-family: one;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FFFFFF;
  border-radius: 15px;
  color: #9A8A8A;
  font-size: 0.9em;
  border: transparent;
  box-shadow: 1px 2px gray;
  font-weight: bold;
}

.secundario{
  cursor: pointer;
  background-color: #FEE8E8;
  border-radius: 15px;
  color: #FA9AA8;
  font-size: 0.8em;
  border: transparent;
  box-shadow: 1px 2px gray;
  font-weight: bold;
}

.nombre{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  font-family: ones;
  font-size: 2.7em;
}

.cantidades{
  padding: 5%;
  font-weight: bold;
}
